cloud_init_modules:
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - rsyslog
 - users-groups
 - ssh

cloud_config_modules:
 - mounts
 - locale
 - set-passwords
 - yum-add-repo
 - package-update-upgrade-install
 - timezone
 - puppet
 - chef
 - salt-minion
 - mcollective
 - runcmd

cloud_final_modules:
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message

{% if cloudinit_default_user %}
{# ユーザーの設定 -#}
users:
 {# デフォルトユーザーを追加 -#}
 - default
 {% endif %}

{# SSH関連の設定 -#}
{# rootでのSSH接続を禁止(/root/.ssh/authorized_keysにdisable_root_optsで指定されるオプションを追加) -#}
disable_root: true
{# disable_rootがtrueの際、/root/.ssh/authorized_keysに追加されるオプション -#}
disable_root_opts: no-port-forwarding,no-agent-forwarding,no-X11-forwarding,command="echo 'Please login as the user \"$USER\" rather than the user \"root\".'; echo; sleep 10" 
{# パスワード認証によるSSH接続を禁止(PasswordAuthentication no) -#}
ssh_pwauth: false
{# SSHのホスト鍵(/etc/ssh/ssh_host_*key*)を削除 -#}
ssh_deletekeys: true
{# 生成するSSHのホスト鍵の種類 -#}
ssh_genkeytypes: ["dsa", "rsa", "ecdsa"]

{% if cloudinit_ramdom_root_password %}
{# ROOTのパスワードをランダムに変更 -#}
chpasswd:
  list: |
    root: RANDOM
{% endif %}

system_info:
  {# 仮想マシンのディストリビューション -#}
  {# 以下から選択 -#}
  {# arch, debian, fedora, freebsd, gentoo, rhel, sles, ubuntu -#}
  distro: {{ cloudinit_distro }}

  {# SSHサーバーのサービス名 -#}
  {# ディストリビューションによって適切な名前に変更する -#}
  ssh_svcname: {{ cloudinit_ssh_svcname }}

  paths:
    {# cloud-initが各種ファイルを書き込むディレクトリのパス -#}
    cloud_dir: /var/lib/cloud
    {# 各種設定ファイルのテンプレートのパス -#}
    templates_dir: /etc/cloud/templates

  {% if cloudinit_default_user -%}
  {# デフォルトユーザーの設定 -#}
  default_user:
    name: {{ cloudinit_default_user }}
    {# パスワードなしでsudoできるようにする -#}
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    {# パスワードをロックしない -#}
    {# sudoでパスワードが必要な場合はfalseにする必要がある -#}
    lock_passwd: false
    shell: /bin/bash
  {% endif %}
